.titre{
    text-align: center;
    background-color: blue;
}
.meilleur{
    border-color: red;
    text-align: center;
     border-style: solid;
     padding: 20px 0 0 0;
     margin: 50px 0 0 0; 
}
.commencement{
    color:green;
    text-align: center;
    background-color: aqua;
    
}