.titre{
    text-align: center;
    background-color: blue;
    flex-direction: column;
}
.meilleur{
    border-color: red;
    text-align: center;
     border-style: solid;
     padding: 20px 0 0 0;
     margin: 50px 0 0 0; 
}
.commencement{
    color:green;
    text-align: center;
    background-color: aqua;
    
}
.haut{
    background-color: aqua;
    padding: 50px 20px 50px 20px;
    align-content: space-between;
    margin: auto;
    

}
.moi{
    text-align: center;
}